## Name: Marwan Amr Mohamed Wageh

## Group: G1

## ID:20201446971

In [1]:
# import modules
import pandas as pd # for dataframes
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
# reading dataset
data = pd.read_csv("C:\\Users\\marwan\\Downloads\\Online Retail.csv")
df=pd.DataFrame(data)

In [3]:
# first 5 rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
# Exploring the columns of the data
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
data.shape

(541909, 8)

In [6]:
# Exploring the different regions of transactions
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [7]:
# Stripping extra spaces in the description
df['Description'] = df['Description'].str.strip()

In [8]:
df['Description'].isnull().sum()

1454

In [9]:
# Dropping the rows without any invoice number
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)

In [10]:
#convert data in InvoiceNo to string
df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [11]:
# Dropping all row that contain null values if Description is null
df.dropna(axis=0, subset=['Description'], inplace=True)

In [12]:
# Dropping all transactions which were done on credit
data = data[~data['InvoiceNo'].str.contains('C')]

In [33]:
#filter
#Splitting the data according to the United Kingdom
# Transactions done in United Kingdom
basket_UK = (df[df['Country'] =="United Kingdom"]
.groupby(['InvoiceNo', 'Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('InvoiceNo'))

basket_UK.head()

Description,*Boombox Ipod Classic,*USB Office Mirror Ball,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 HANGING EGGS HAND PAINTED,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
#convert all cell to 0 and 1
def unit_encode(x):

    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [35]:
basket_UK_sets=basket_UK.applymap(unit_encode)
basket_UK_sets.drop("POSTAGE",inplace=True,axis=1)

In [36]:
basket_UK=basket_UK_sets

In [37]:
frequent_itemsets = apriori(basket_UK, min_support=0.03, use_colnames=True)

In [38]:
frequent_itemsets.head()

    support                        itemsets
0  0.038793        (6 RIBBONS RUSTIC CHARM)
1  0.034165   (60 TEATIME FAIRY CAKE CASES)
2  0.039746    (ALARM CLOCK BAKELIKE GREEN)
3  0.042196      (ALARM CLOCK BAKELIKE RED)
4  0.030672  (ANTIQUE SILVER T-LIGHT GLASS)

In [39]:
# lift
# Collecting the inferred rules in a dataframe
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules=rules.sort_values(['confidence','lift'],ascending=[False,False])
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER),0.042377,0.043421,0.031806,0.750535,17.285056,0.029966,3.834527
1,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.043421,0.042377,0.031806,0.732497,17.285056,0.029966,3.579862
3,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.052586,0.087931,0.035617,0.677308,7.702719,0.030993,2.826438
4,(JUMBO STORAGE BAG SUKI),(JUMBO BAG RED RETROSPOT),0.051270,0.087931,0.031670,0.617699,7.024813,0.027161,2.385736
2,(JUMBO BAG RED RETROSPOT),(JUMBO BAG PINK POLKADOT),0.087931,0.052586,0.035617,0.405057,7.702719,0.030993,1.592444

In [40]:
print(rules[(rules['lift']>=6) & (rules['confidence']>=0.6)])

                         antecedents                        consequents  \
0  (GREEN REGENCY TEACUP AND SAUCER)  (ROSES REGENCY TEACUP AND SAUCER)
1  (ROSES REGENCY TEACUP AND SAUCER)  (GREEN REGENCY TEACUP AND SAUCER)
3          (JUMBO BAG PINK POLKADOT)          (JUMBO BAG RED RETROSPOT)
4           (JUMBO STORAGE BAG SUKI)          (JUMBO BAG RED RETROSPOT)

   antecedent support  consequent support   support  confidence       lift  \
0            0.042377            0.043421  0.031806    0.750535  17.285056
1            0.043421            0.042377  0.031806    0.732497  17.285056
3            0.052586            0.087931  0.035617    0.677308   7.702719
4            0.051270            0.087931  0.031670    0.617699   7.024813

   leverage  conviction
0  0.029966    3.834527
1  0.029966    3.579862
3  0.030993    2.826438
4  0.027161    2.385736

### second basket

In [46]:

#filter
#Splitting the data according to the United Kingdom
# Transactions done in United Kingdom
basket_Spain = (df[df['Country'] =="Spain"]
.groupby(['InvoiceNo', 'Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('InvoiceNo'))

basket_Japan.head()

Description,12 PENCILS TALL TUBE RED RETROSPOT,20 DOLLY PEGS RETROSPOT,3 HOOK HANGER MAGIC GARDEN,36 PENCILS TUBE RED RETROSPOT,4 TRADITIONAL SPINNING TOPS,5 HOOK HANGER MAGIC TOADSTOOL,5 HOOK HANGER RED MAGIC TOADSTOOL,60 CAKE CASES DOLLY GIRL DESIGN,ABC TREASURE BOOK BOX,ASSORTED EASTER GIFT TAGS,...,VINTAGE DONKEY TAIL GAME,VINTAGE KEEPSAKE BOX PARIS DAYS,VINTAGE LEAF MAGNETIC NOTEPAD,WALL TIDY RETROSPOT,WHITE HEART CONFETTI IN TUBE,WHITE SOAP RACK WITH 2 BOTTLES,WHITE WIRE EGG HOLDER,WOODEN HAPPY BIRTHDAY GARLAND,WOODEN SCHOOL COLOURING SET,WORLD WAR 2 GLIDERS ASSTD DESIGNS
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
537218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
538397,0.0,96.0,36.0,0.0,0.0,36.0,48.0,0.0,0.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12.0,24.0,0.0,0.0
543179,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
543518,0.0,0.0,36.0,0.0,0.0,0.0,96.0,0.0,0.0,60.0,...,0.0,24.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
basket_Spain_sets=basket_Spain.applymap(unit_encode)
basket_Spain=basket_Spain_sets

In [56]:
frequent_itemsets2 = apriori(basket_Spain, min_support=0.03, use_colnames=True)
frequent_itemsets2.head()

    support                         itemsets
0  0.057143    (4 TRADITIONAL SPINNING TOPS)
1  0.038095  (6 GIFT TAGS VINTAGE CHRISTMAS)
2  0.142857         (6 RIBBONS RUSTIC CHARM)
3  0.066667     (ALARM CLOCK BAKELIKE GREEN)
4  0.057143      (ALARM CLOCK BAKELIKE PINK)

In [57]:
# lift
# Collecting the inferred rules in a dataframe
rules = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)
rules=rules.sort_values(['confidence','lift'],ascending=[False,False])
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
104,(GROW A FLYTRAP OR SUNFLOWER IN TIN),(BLUE HAPPY BIRTHDAY BUNTING),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
105,(BLUE HAPPY BIRTHDAY BUNTING),(GROW A FLYTRAP OR SUNFLOWER IN TIN),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
378,(RED STRIPE CERAMIC DRAWER KNOB),(RED SPOT CERAMIC DRAWER KNOB),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
379,(RED SPOT CERAMIC DRAWER KNOB),(RED STRIPE CERAMIC DRAWER KNOB),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
719,"(6 RIBBONS RUSTIC CHARM, RED RETROSPOT MUG)",(RED SPOTTY BISCUIT TIN),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf

In [58]:
print(rules[(rules['lift']>=6) & (rules['confidence']>=0.6)])

                                      antecedents  \
104          (GROW A FLYTRAP OR SUNFLOWER IN TIN)
105                 (BLUE HAPPY BIRTHDAY BUNTING)
378              (RED STRIPE CERAMIC DRAWER KNOB)
379                (RED SPOT CERAMIC DRAWER KNOB)
719   (6 RIBBONS RUSTIC CHARM, RED RETROSPOT MUG)
...                                           ...
1181            (PLASTERS IN TIN SKULLS, POSTAGE)
1475            (PLASTERS IN TIN SKULLS, POSTAGE)
941             (PLASTERS IN TIN SKULLS, POSTAGE)
292                      (PLASTERS IN TIN SKULLS)
245                     (LUNCH BAG PINK POLKADOT)

                                            consequents  antecedent support  \
104                       (BLUE HAPPY BIRTHDAY BUNTING)            0.038095
105                (GROW A FLYTRAP OR SUNFLOWER IN TIN)            0.038095
378                      (RED SPOT CERAMIC DRAWER KNOB)            0.038095
379                    (RED STRIPE CERAMIC DRAWER KNOB)            0.038095
719                            (RED SPOTTY BISCUIT TIN)            0.038095
...                                                 ...                 ...
1181                    (PLASTERS IN TIN CIRCUS PARADE)            0.076190
1475  (6 RIBBONS RUSTIC CHARM, ASSORTED COLOUR BIRD ...            0.076190
941               (CLASSIC METAL BIRDCAGE PLANT HOLDER)            0.076190
292                     (PLASTERS IN TIN CIRCUS PARADE)            0.095238
245                           (LUNCH BAG RED RETROSPOT)            0.095238

      consequent support   support  confidence       lift  leverage  \
104             0.038095  0.038095       1.000  26.250000  0.036644
105             0.038095  0.038095       1.000  26.250000  0.036644
378             0.038095  0.038095       1.000  26.250000  0.036644
379             0.038095  0.038095       1.000  26.250000  0.036644
719             0.038095  0.038095       1.000  26.250000  0.036644
...                  ...       ...         ...        ...       ...
1181            0.066667  0.047619       0.625   9.375000  0.042540
1475            0.085714  0.047619       0.625   7.291667  0.041088
941             0.095238  0.047619       0.625   6.562500  0.040363
292             0.066667  0.057143       0.600   9.000000  0.050794
245             0.076190  0.057143       0.600   7.875000  0.049887

      conviction
104          inf
105          inf
378          inf
379          inf
719          inf
...          ...
1181    2.488889
1475    2.438095
941     2.412698
292     2.333333
245     2.309524

[2237 rows x 9 columns]

### Third basket

In [59]:
#filter
#Splitting the data according to the United Kingdom
# Transactions done in United Kingdom
basket_Italy = (df[df['Country'] =="Italy"]
.groupby(['InvoiceNo', 'Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('InvoiceNo'))

basket_Italy.head()

Description,12 EGG HOUSE PAINTED WOOD,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,12 PENCILS TALL TUBE WOODLAND,16 PIECE CUTLERY SET PANTRY DESIGN,20 DOLLY PEGS RETROSPOT,3 GARDENIA MORRIS BOXED CANDLES,3 ROSE MORRIS BOXED CANDLES,3 STRIPEY MICE FELTCRAFT,3 TIER CAKE TIN RED AND CREAM,...,WOODLAND BUNNIES LOLLY MAKERS,WOODLAND CHARLOTTE BAG,WRAP DOILEY DESIGN,WRAP ENGLISH ROSE,WRAP I LOVE LONDON,WRAP RED APPLES,WRAP RED VINTAGE DOILY,YOU'RE CONFUSING ME METAL SIGN,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
537022,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
539752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
542238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
basket_Italy_sets=basket_Italy.applymap(unit_encode)
basket_Italy=basket_Italy_sets

In [61]:
frequent_itemsets3 = apriori(basket_Italy, min_support=0.03, use_colnames=True)
frequent_itemsets3.head()

    support                           itemsets
0  0.072727            (ABC TREASURE BOOK BOX)
1  0.054545        (ADULT APRON APPLE DELIGHT)
2  0.036364       (ASSORTED COLOUR MINI CASES)
3  0.036364  (BAKING MOULD CHOCOLATE CUPCAKES)
4  0.072727     (BAKING SET 9 PIECE RETROSPOT)

In [62]:
# lift
# Collecting the inferred rules in a dataframe
rules = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)
rules=rules.sort_values(['confidence','lift'],ascending=[False,False])
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
104,(GROW A FLYTRAP OR SUNFLOWER IN TIN),(BLUE HAPPY BIRTHDAY BUNTING),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
105,(BLUE HAPPY BIRTHDAY BUNTING),(GROW A FLYTRAP OR SUNFLOWER IN TIN),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
378,(RED STRIPE CERAMIC DRAWER KNOB),(RED SPOT CERAMIC DRAWER KNOB),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
379,(RED SPOT CERAMIC DRAWER KNOB),(RED STRIPE CERAMIC DRAWER KNOB),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf
719,"(6 RIBBONS RUSTIC CHARM, RED RETROSPOT MUG)",(RED SPOTTY BISCUIT TIN),0.038095,0.038095,0.038095,1.0,26.25,0.036644,inf

In [63]:
print(rules[(rules['lift']>=6) & (rules['confidence']>=0.6)])

                                      antecedents  \
104          (GROW A FLYTRAP OR SUNFLOWER IN TIN)
105                 (BLUE HAPPY BIRTHDAY BUNTING)
378              (RED STRIPE CERAMIC DRAWER KNOB)
379                (RED SPOT CERAMIC DRAWER KNOB)
719   (6 RIBBONS RUSTIC CHARM, RED RETROSPOT MUG)
...                                           ...
1181            (PLASTERS IN TIN SKULLS, POSTAGE)
1475            (PLASTERS IN TIN SKULLS, POSTAGE)
941             (PLASTERS IN TIN SKULLS, POSTAGE)
292                      (PLASTERS IN TIN SKULLS)
245                     (LUNCH BAG PINK POLKADOT)

                                            consequents  antecedent support  \
104                       (BLUE HAPPY BIRTHDAY BUNTING)            0.038095
105                (GROW A FLYTRAP OR SUNFLOWER IN TIN)            0.038095
378                      (RED SPOT CERAMIC DRAWER KNOB)            0.038095
379                    (RED STRIPE CERAMIC DRAWER KNOB)            0.038095
719                            (RED SPOTTY BISCUIT TIN)            0.038095
...                                                 ...                 ...
1181                    (PLASTERS IN TIN CIRCUS PARADE)            0.076190
1475  (6 RIBBONS RUSTIC CHARM, ASSORTED COLOUR BIRD ...            0.076190
941               (CLASSIC METAL BIRDCAGE PLANT HOLDER)            0.076190
292                     (PLASTERS IN TIN CIRCUS PARADE)            0.095238
245                           (LUNCH BAG RED RETROSPOT)            0.095238

      consequent support   support  confidence       lift  leverage  \
104             0.038095  0.038095       1.000  26.250000  0.036644
105             0.038095  0.038095       1.000  26.250000  0.036644
378             0.038095  0.038095       1.000  26.250000  0.036644
379             0.038095  0.038095       1.000  26.250000  0.036644
719             0.038095  0.038095       1.000  26.250000  0.036644
...                  ...       ...         ...        ...       ...
1181            0.066667  0.047619       0.625   9.375000  0.042540
1475            0.085714  0.047619       0.625   7.291667  0.041088
941             0.095238  0.047619       0.625   6.562500  0.040363
292             0.066667  0.057143       0.600   9.000000  0.050794
245             0.076190  0.057143       0.600   7.875000  0.049887

      conviction
104          inf
105          inf
378          inf
379          inf
719          inf
...          ...
1181    2.488889
1475    2.438095
941     2.412698
292     2.333333
245     2.309524

[2237 rows x 9 columns]